/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */

 @charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
	フロートの解除
========================================= */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/* ========================================
	全体設計
========================================= */
body {
	color:#555;
	font-size: 14px;
	line-height: 1;
	font-family: "メイリオ", Meiryo;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


body {
    position : relative;
    overflow : hidden; /* スクロールバーを表示させない */
}

#container {
    position : relative;
    top  : 0px;
    left : 0px;
    margin-top  : -8px; /* 上に余白を作らない */
    margin-left : -8px; /* 左に余白を作らない */
}

.imgWrapper /* 1枚の画像およびテキストをのせたdivコンテナ */ {
    position : absolute;
    z-index : 0;
}

.curtain {
    position : absolute;
    z-index : 1; /* 画像より手前 */
    background-color : white;
}

.img {
    position : absolute;
    z-index : 0;
}

.textOverImg /* 画像にのせるテキスト */ {
    position : absolute;
    width  : 180px;
    height :  30px;
    color : white;
    font-size : x-large;
    text-align : center;
    vertical-align : middle;
}

#menu {
    position : relative;
    overflow : hidden;
    margin-left  : -4px;
    margin-right : -4px;
}

.menuItem {
    position : relative;
    float : left;
    text-align : center;
}

#menuItem1, #menuItem3 {
    border-left  : solid 1px;
    border-right : solid 1px;
}