/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */

 @charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}


/* ========================================
	フロートの解除
========================================= */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}



/* ========================================
	全体設計
========================================= */
body {
	color:#555;
	font-size: 14px;
	line-height: 1;
	font-family: "メイリオ", Meiryo;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



/*ここからbody*/
body {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  font-size: 16px;
  background-color: black;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 1000px;
  height: 2040px;
  margin: 0 auto;
}

/* ========================================
	ここからヘッダー
========================================= */
header {
  width: 1000px;
  height: 100px;
  background-image:url(https://i.gyazo.com/thumb/1000/5fc4fcbd4f7b9f19c2165955fbe599ea-jpg.jpg);
  position: relative;
  margin: 0 auto;
}

h1 {
  color:  #aca58f;
  font-size: 14px;
  position: absolute;
  left: 17px;
  top: 10px;
}
.niwase {
  color: black;
  font-size: 14px;
  position: absolute;
  right: 17px;
  top: 10px;
}
.hirahuku {
  color: block;
  font-size: 14px;
  position: absolute;
  right: 17px;
  top: 30px;
}

/* ========================================
	ここまでヘッダー
========================================= */
.header-btn {
  background-image:url(https://i.gyazo.com/thumb/1000/5fc4fcbd4f7b9f19c2165955fbe599ea-jpg.jpg);
  width: 1000px;
  height: 40px;
  text-align: center;
  position: relative;
}
.gaiyou {
   float: left;
   position: absolute;
   left : 280px;
   top: 5px;
   font-size: 30px; 
   color: brown;
   text-decoration:none;
   font: normal normal "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W4", Osaka, sans-serif;
}
.menyu {
  float: left;
  position: absolute;
  left :  400px;
  top: 5px;
  font-size: 30px;
  color: brown; 
  text-decoration:none;
  font: normal normal "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W4", Osaka, sans-serif;
}
.tennpo {
  float: left;
  position: absolute;
  left : 630px;
  top: 5px;
  font-size: 30px;
  color: brown; 
  text-decoration:none;
  font: normal normal "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W4", Osaka, sans-serif;
}



.header-img {
  width: 1000px;
  height: 800px;
}


/* ========================================
	ここからメニュー
========================================= */
.container {
  /*background-color:pink;*/
  width: 1000px;
  height: 1200px;
  background-image:url(https://i.gyazo.com/f8ca62ad419ab5d12b5cf51af27b7f34.jpg);
  position: relative;
}
.imges {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 40px;
  right: 5%;
  border:solid 1px white;
}
.container2 {
  position: absolute;
  top: 50px;
  left: 70px;
}
h2 {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}
.imges2 {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 400px;
  left: 5%;
  border:solid 1px white;
}
h3 {
  color: black;
  font-size: 25px;
  position: absolute;
  top: 400px;
  right: 20px;
}
/* ========================================
	ここまでメニュー
========================================= */

/*ここからフッター*/
footer {
  width: 1000px;
  height: 200px;
  background-color: green;
  margin: 0 auto;
  position: relative;
}
.footer-container {
  position: absolute;
  top: 50%;;
  left: 50%;;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  padding-left: 50px;
}
.miyuki {
  font-size: 17px;
  letter-spacing: 2px;
  color: white;
  margin-bottom: 2px;
}
.niwase2 {
  color: white;
  font-size: 14px;
  float: left;
  letter-spacing: 2px;
  line-height: 18px;
  margin: 0 auto;
}
.hirahuku2 {
  color: white;
  font-size: 14px;
  float: left;
  margin-left: 100px;
  letter-spacing: 2px;
  line-height: 18px;
  margin: 0 auto;
}

/*ここまでフッター*/