/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */


body {
  color: rgba(0, 0, 0, 0.8);
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-image:url(https://i.gyazo.com/2b675f1dd05f99431bb926e3dcef27fd.gif);
  background-size: cover;}


h1 {
  color: red; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-size: 36px;
  font-weight: 500;
  margin: 20px 0 16px;
  text-align: center; }

.parents {
 text-align: center;
}

.header-wrapper img{
  width: 800px;
  height: auto;
  
}
.gaiyou_btn {
  margin: 200px 500px;
  font-size: 
}


