
@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


/*========================================
    レイアウト
========================================= */
body {
	width: 1200px;;
	height: auto;
	margin: 0 auto;
}

/*========================================
    header
========================================= */

header {
	width: 100%;
	height: 56px;
	background-color: #000;
	line-height: 56px;
	z-index: 5000;
}


.cb-header {
	position: fixed;
	top: -56px;
	left: 0;
	
}
.cb{
	width: 600px;
	height: 56px;
	margin: 0 auto;
}
.cb ul li {
	float: left;
	margin-left: 60px;
}
.cb ul li a {
	color: #fff;
	text-decoration: none;
}
/*========================================
    logo
========================================= */



.ab-header {
	width: 1200px;
	height: 200px;
	/*text-shadow: 1px 1px 2px silver;*/
	margin: 0 auto;
}

h1 img{
	width: 200px;
	height: 200px;
	float: left;
}

.ab-header ul {
	line-height: 15px;
	margin-top: 150px;
	margin-right: 150px;
	float: right;
}

.ab-header ul li{
	float: left;
	margin-left: 60px;
}

.ab-header ul li a{
	color: #555555;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

.ab-header ul li a span {
	font-size: 11px;
}




/*========================================
    slider
========================================= */

.slider{
    margin: 0 auto;
	width: 100%;
}
.slider img{
    height: 650px;
	width: 1080px;
	border: none;
}
/*slick setting*/
.slick-prev:before,
.slick-next:before {
    color: #000;
}

/*========================================
   #container 
========================================= */

#container {
	width: 1200px;
	height: 1200px;
	margin: 0 auto;
}

/*========================================
    about
========================================= */

#about {
	width: 1000px;
	height: 300px;
	padding: 0 100px;
	margin-top: 100px;
}

#about_txt {
	width: 490px;
	height: 190px;
	float: left;
	vertical-align: top;
}

h2 {
	font-size: 30px;
	font-family: 'Consolas',sans-serif;
	margin-bottom: 30px;
}
p {
	font-size: 13px;
	line-height: 40px;	
}

#about_img img{
	width: 420px;
	height: 280px;
	float: right;
	border: 5px solid rgba(0,0,0,0.2);
	box-sizing: border-box;
}


/*========================================
    right
========================================= */

h3 {
	font-size: 25px;
	font-family: 'Consolas',sans-serif;
	margin-top: 30px;
	margin-left: 100px;
}

#topics ol{
	margin: 0 auto;
	width: 1000px;
	height: auto;
	padding: 50px 0;
	border-top: 1px dotted rgba(0,0,0,0.5);
	border-bottom: 1px dotted rgba(0,0,0,0.5);
}

#topics ol li {
	width: 960px;
	height: 35px;
	margin: 0px 0px 1px 0px;
}

#topics ol li span {
	width: 140px;
	height: 35px;
	font-size: 13px;
	line-height: 35px;
    background-color: #555555;
    color: #ffffff;
    display: inline-block;
	text-align: center;
}

#topics ol li a {
	font-size: 13px;
	line-height: 13px;
	margin-left: 20px;
}
/*========================================
    フッター
========================================= */

footer {
	width: 100%;
	height: 130px;
	background-color: gray;
	position: relative;
}

.follow-us {
	width: 100%;
	height: 100px;
	margin-top: 15px;
	text-align: center;
}
.social-icon {
	vertical-align: top;
	display: inline-block;
	background: rgba(94, 144, 255, 0.75);
	width: 42px;
	height: 30px;
	padding-top: 13px;
	border-radius: 50%;
	color: #e3e3e3;
	font-size: 17px;
	line-height: 17px;
	margin: 15px 13px 0 13px;
}
  
.social-icon:hover{
	color: #e3e3e3;
	background-color: rgb(94, 144, 255);
}

.copy {
	font-size: 10px;
	color: white;
	padding-top: 13px;
}

.toTop {
	font-size: 18px;
	float: right;
	background: skyblue;
	padding: 20px;
	color: #fff;
	border-radius: 10%;
	cursor: pointer;
	position: absolute;
	top: -70px;
	right: 50px;
}


.cf {
	clear: both;
}