/*! sanitize.css v3.3.0 | CC0 1.0 Public Domain | github.com/10up/sanitize.css */
/*
 * Normalization
 */

 @charset "utf-8";

#slide-wrapper h1 {
	font-size: 30px;
	text-align: center;
}
#slideshow {
	position: relative;
}
#slideshow img {
	width:  1000px; /* 画像の横幅に合わせて記述 */
	height: auto; /* 画像の高さに合わせて記述 */
	position: absolute;
	top: 0;
	left: 1%;
	right: 1%;
	z-index: 8;
	opacity: 0.0;
	margin: 0 auto;
	
}
#slideshow img.active {
	z-index: 10;
	opacity: 1.0;
}
#slideshow img.last-active {
	z-index: 9;
}


.toTop {
	margin-top: 800px;
	margin-right: 30px;
	float: right;
	background: skyblue;
	padding: 15px;
	color: #fff;
	border-radius: 50%;
  cursor: pointer;
}

.clear {
	clear: both;
}