
@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


/*========================================
    レイアウト
========================================= */

header {
	width: 100%;
	height: 100px;
	background-color: pink;
}

header h1 {
	width: 100%;
	height: 100px;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
}

#change-btn-wrapper {
	width: 100%;
	height: 750px;
}

#slideshow {
	position: relative;
}
#slideshow img {
	width:  100%; /* 画像の横幅に合わせて記述 */
	height: 750px; /* 画像の高さに合わせて記述 */
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
	opacity: 0.0;
	margin: 0 auto;
	
}
#slideshow img.active {
	z-index: 10;
	opacity: 1.0;
}
#slideshow img.last-active {
	z-index: 9;
}

#container {
	width: 1000px;
	height: 800px;
	margin: 0 auto;
	position: relative;
}

/*========================================
    left
========================================= */

#twitter-left {
	width: 800px;
	height: 500px;
}

.twitter-timeline {
	float: left;
}


/*========================================
    right
========================================= */

#right-wrapper {
	width: 400px;
	height: 700px;
	float: right;
	position: absolute;
	top: 30px;
	right: 30px;
}

.form ,.select-form, .text-form, .age{
	padding: 0 10px;
	border: none;
	color: #202020;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	transition: all .3s;
	padding: 15px;
	background: rgba(0, 0, 0, 0.08);
  }
  
  .select-form, .age {
	margin: 10px 0;
	width: 100%;
	height: auto;
  }
  
  .text-form {
	margin: 10px 0;
	width: 92%;
	height: 80px;
  }
  
  .btn-submit {
	font-size: 20px;
	font-weight: 600;
	background: #5983ff;
	border: 1px solid #5979ff;
	color: white;
	box-shadow: inset 0 1px 0 #5867ed;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	transition: all .3s;
	padding: 12px 26px;
  }
  

/*========================================
    フッター
========================================= */

footer {
	width: 100%;
	height: 200px;
	background-color: pink;
}
.toTop {
	margin-top: 60px;
	margin-right: 50px;
	float: right;
	background: skyblue;
	padding: 15px;
	color: #fff;
	border-radius: 50%;
  	cursor: pointer;
}

.cf {
	clear: both;
}